.hidden {
  position: absolute;
  visibility: hidden;
}

.no-click {
  pointer-events: none;
}

.number-input-field {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
  width: 2em;
}

.background {
  background-color: #07040f;
}

.bordered {
  border: 1px solid $borderColor;
  border-radius: 4px;
}

.big-bordered {
  background-color: $cardColor;
  border: 2px outset $borderColor;
  border-radius: 4px;
}

.main-text {
  color: $mainTextColor;
}

.secondary-text {
  color: $secondaryTextColor;
}

.green-text {
  color: $btnSelectedColor;
}

.red-text {
  color: $btnDangerColor;
}

.btn-unselected {
  background-color: $btnUnselectedColor;
}

.btn-selected {
  background-color: $btnSelectedColor;
}

.btn-info {
  background-color: $btnInfoColor;
}

.btn-warning {
  background-color: $btnWarningColor;
}

.btn-danger {
  background-color: $btnDangerColor;
}