.hidden {
  position: absolute;
  visibility: hidden;
}

.no-click {
  pointer-events: none;
}

#modal {
  background-color: $bgColor;
}

.card {
  background-color: $cardColor;
  border: 3px outset $borderColor;
  border-radius: 12px;
}

hr {
  width: 100%;
  border: 2px outset $borderColor;
  margin: 0;
}

// Buttons and Inputs

::placeholder {
  color: $borderColor;
}

input,
select,
.field {
  background-color: $bgColor;
  color: $mainTextColor;
  border: 2px outset $borderColor;
  border-radius: 8px;
}

input:focus,
select:focus,
.btn:active,
.btn.down,
.field.active,
button:active {
  outline: 0;
  border-style: inset;
  transform: translate(1px, 1px);
  // box-shadow: inset 1px 1px 2px $bgColor;
}

.btn {
  border: 2px outset $borderColor;
  color: $secondaryTextColor;
  border-radius: 8px;
  border-radius: 25px;
}

.btn-unselected {
  background-color: $midGray;
  // background-image: linear-gradient(170deg, $ltGray, $darkGray);
}
// .btn-unselected.down {
//   background-image: linear-gradient(350deg, $ltGray, $darkGray);
// }

.btn-selected {
  background-color: $midGreen;
  // background-image: linear-gradient(170deg, $midGreen 40%, $darkGreen);
}
// .btn-selected.down {
//   background-image: linear-gradient(350deg, $midGreen 40%, $darkGreen);
// }

.btn-info {
  background-color: $midBlue;
  // background-image: linear-gradient(170deg, $midBlue 40%, $darkBlue);
}

.btn-warning {
  background-color: $midOrange;
  // background-image: linear-gradient($ltOrange, $darkOrange);
}

.btn-danger {
  background-color: $midRed;
  // background-image: linear-gradient($ltRed, $darkRed);
}

// Font Colors

.main-text {
  color: $mainTextColor;
}

.secondary-text {
  color: $secondaryTextColor;
}

.green-text {
  color: $midGreen;
}

.red-text {
  color: $midRed;
}
