body {
  background-color: $bgColor !important;
  margin: 0;
}

#root {
  color: $mainTextColor;
}

#body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  padding: 10px;
  // border: 1px solid $borderColor;
  margin: 10px;
  border-radius: 4px;
}
