body {
  background-color: $bgColor !important;
}

#root {
  color: $mainTextColor;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headerContainer {
  display: flex;
  justify-content: space-between;

  padding: 10px;
}

#header {
  text-align: center;
  font-size: 18pt;
}

#title {
  text-align: center;
  margin-bottom: 10px;
}

#body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;
  border: 1px solid $borderColor;
  border-radius: 4px;
  margin: 10px;
}
