$bgColor: #07040f;
$cardColor: #00000025;

$borderColor: #798897;

$mainTextColor: #FFF6F5;
$secondaryTextColor: #07040f;

$btnUnselectedColor: #798897;
$btnSelectedColor: #008C04;
$btnInfoColor: #0081FF;
$btnWarningColor: #D9B645;
$btnDangerColor: #d93041;
