$bgColor: #07040f;
$cardColor: #00000025;

$borderColor: #66717b;

$mainTextColor: #cdcccb;
$secondaryTextColor: #07040f;

$btnUnselectedColor: #6b737b;
$btnSelectedColor: #008C04;
$btnInfoColor: #0081FF;
$btnWarningColor: #D9B645;
$btnDangerColor: #d93041;
