$bgColor: #07040f;
$cardColor: #00000025;

$borderColor: #66717b;

$mainTextColor: #cdcccb;
$secondaryTextColor: #07040f;

$darkGray: #303436;
$midGray: #6b737b;
$ltGray: #adbac7;

$darkGreen: #005300;
$midGreen: #008c04;
$ltGreen: #6dda5a;

$darkBlue: #004080;
$midBlue: #0070e0;
$ltBlue: #0081ff;

$darkOrange: #D0642C;
$midOrange: #d9b645;
$ltOrange: #e3d23d;

$darkRed: #59141b;
$midRed: #d93041;
$ltRed: #e63244;
